@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
#root{
    width: 100%;
    height: 100%;
}
.flex-r{
    display: flex;
    flex-direction: row;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.flex-r-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}
.flex-c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.border-r8{
    border-radius: 8px;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}
